@import 'boxes';

input:read-only {

  border: 1px solid orange;
}

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
}

fieldset {
  margin: 5px;

  label {
    margin-bottom: 5px;
    display: block;
  }

  [type=text] {
    width: 400px;
    padding: 3px;

    &:hover {

    }

  }

  input:hover {

  }
}



form {
  width: 100%;
  padding: 15px;


  textarea {
    width: 100%;
    min-height: 150px;
  }

  button {
    margin-top: 5px;
  }
}

.really-big-box {
  @extend .box;
  @extend .big-box;
}
